li{color:#345811;}
h1{color:#5e4287;}
body{background-color:#dbdbdb}
h2{color:#345811}
div{border: 6px solid;
background-color:lavender;    
Height:50px;
margin:20px;
padding:20px;
width:50px;}
p{font-family:Arial, Helvetica, sans-serif}
h1{font-family:Arial, Helvetica, sans-serif}
p{padding:5px;}